.col-md
{
    background-color: aqua;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 500px;
    margin-left: 550px;
    margin-right: auto;
    margin-top: 40px;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);  
    border-radius: 20px;
    box-shadow: 3px 3px 5px 1px #808080;
}
.info-container-text
{
    color:tomato;
    margin: 10px;
    font-size: 34px;
}
.login-img
{
    height: 50px;
    padding-top: 10px;
}
.link-signup
{
    text-decoration: none;
    color: rgb(26, 4, 15);
}
.user-input
{
    margin:15px;
    width: 250px;
    height: 36px;
    background-color: transparent;
    font-size: 15px;

}
.form-title
{
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 30px;
}
.signup-button
{
    text-align: center;
    margin-top: 15px;
    border-radius: 8px;
}
.signup-button:hover
{
    color:black;
    background: rgb(203,202,187);
    background: radial-gradient(circle, rgba(203,202,187,1) 0%, rgba(65,82,120,1) 100%);
    transition: 0.2s;
    box-shadow: 1px 1px 3px 1px;
}
.clr
{
    color: #fff;
}
